@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&family=Space+Grotesk:wght@500;600;700&display=swap');
@import "tailwindcss";

body {
    font-family: 'Outfit', sans-serif;
}

.font-display {
    font-family: 'Space Grotesk', sans-serif;
}

a,
button,
[role="button"] {
    cursor: pointer;
}

.p-8 {
    padding: calc(var(--spacing) * 8);
    margin-bottom: 20px;
}